extends ../layout

block head
  link(type="text/css", rel="stylesheet", href="/css/session/list.css")


block content
  #wrap
    #session-list-page
      header
        include ../head
      #content
        - var party = {title: '天生一队第三季', from: '2013－04-10', to: '2013-04-13', location: '创业大厦8楼'}
        div#party
          h2.title #{party.title}
          div.from
            label 开始时间：
            span #{party.from} 
          div.from
            label 结束时间：
            span #{party.to} 
          div.from
            label 地点：
            span #{party.location} 
        ul#session-list
          - each session in sessions
            li 
              p #{session.from} - #{session.to}
              p #{session.title}


block content
    div.bar
        h1
            a(href="/party") #{title}
    div.party-list#J_PartyList(data-id="#{id}")
    script#J_TemplateParty(type="javascript/template")
        {{#each docs}}
        {{#with this}}
        section.party-item
            article.party-info
                h1
                    a.session-name(href="/party/{{id}}") {{title}}
                    a(href="/party/edit/{{id}}") edit
                    a.session-del(href="/api/party/del/{{id}}") delete
                div.party-time 时间:{{time}}
                div.party-loc 地点:{{location}}
        {{/with}}
        {{/each}}
        
    script
        KISSY.use("node, party/list", function(S, Node, List){
            S.ready(function(){

                List({
                    el: "#J_PartyList",
                    tpl: S.one("#J_TemplateParty").html()
                }).render();

            });
        });
