extends ../layout

block content
  //div.bar
  //  h1 #{docTitle}
  div.content
    div.mainCard
      div.row
        div.column
          label 标题
        div.column
          span #{title}
      div.row
        div.column
          label 分享者
        div.column
          span #{speakers}
      div.row
        div.column
          label 时间
        div.column
          span #{from} ~ #{to}
      div.row
        div.column
          label 简介
        div.column
          span #{description}
      div.lastrow
        div.column
          &nbsp;
        div.column
          if type == "created"
            form(method="post",action="/session/#{id}/")
              a.button(href="/session/#{id}/edit") 编辑分享
              input(type="hidden", name="_method", value="delete")
              input.button(type="submit", value="删除分享")

              a.button(href="/session/create") 继续创建
          else if type == "detail"
            input#J_SessionEdit.button(type="button", value="编辑分享")
            //a.button(href="/session/#{id}/edit") 编辑分享
  script
    KISSY.use("session/view", function(S, View){
        
        S.ready(function(){
          View({
            sid: #{id},
            pid: #{partyId},
            btn: "#J_SessionEdit"
          });
        });
    });