extends ../layout

block head


block content
    script(src="/feedback/index.js")
    div.content
        div.mainCard
            if type == '1'
                div.status-container
                    p.submit-status #{responseString}
                        br
                        br
                        br
                        a.button(href="/party") 返回列表
            else
                form(method="post")
                    div.row
                        div.column
                            label(for="title") 主题
                        div.column
                            p#J_Title(type="text", name="title", value="#{title}") #{title}
                                
                    div.row
                        div.column
                            label(for="speakers") 分享者
                        div.column
                            p#J_Speakers(type="text", name="speakers", value="#{speakers}") #{speakers}
                    div.row
                        div.column
                            label(for="score") 打分
                        div.column.score
                            input#J_Score(type="hidden", name="score", value="#{score}")
                            - var ex_score = 5 - score
                            while score--
                                span.icon-star-solid
                            while ex_score--
                                span.icon-star-hollow
                    div.row
                        div.column
                            label(for="advise") 建议
                        div.column
                            textarea#J_Advise(name="advise", value="#{advise}", placeholder="在这里输入你的看法") #{advise}
                    div.lastrow
                        div.column
                            input(type="hidden", name="id", value="#{id}")
                        div.column
                            input.button(type="submit", value="提交")


