extends ../layout

block head
    link(type="text/css", rel="stylesheet", href="/feedback/result.css")

block content
    input(type="hidden",value="#{sessionId}")#J_SessionId
    input(type="hidden",value="#{partyId}")#J_PartyId
    div.content
        div.session-info
            div.count
                em.J_StarCount(data-time="#{people}") #{count}

        div.stars-wrapper
            div.count-img.J_Stars

        ul.session-list.J_SessionList
            each session, i in sessions
                li
                    a(href="./#{session.id}")
                        i #{session.count}
                        div.session-title #{session.title}

    script(type='text/javascript')
        window.doNotShowFeedback = true
        KISSY.config({
            packages:[
            {
            name:"feedback",
            path:"../../../",
            charset:"utf-8"
            }]
        });
        KISSY.use('feedback/init',function(S,fnInit){
            fnInit();
        })

